<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit comment</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<p><a href="/">Return to list of comments</a></p>
<!-- comment edition -->
<form id="edit-form" th:action="@{/editComment(id=${comment.id},bookId=${bookId})}" th:method="post" action="editComment.html">
    <h1>comment Info:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="${comment.id}" value="1"/>
    </div>

    <div class="row">
        <label for="holder-input">Text:</label>
        <input id="holder-input" name="text" type="text" th:value="${comment.text}"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>
